@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Lato, sans-serif;
    box-sizing: border-box;
    height: auto;
}

body {
    background: #b1d1f0;
}

h1 {
    color: rgb(3, 46, 103);
    text-align: center;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #b1d1f0;
    padding: 30px;
}

/* Positioning of all major elements(start button, rules area, quiz area and results area */
.start_btn,
.instructions_area,
.game_area,
.result_area {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease;
}

/* set active windows */
.instructions_area.activeInfo,
.game_area.activeGame,
.result_area.activeResult {
    z-index: 5;
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%);
}

/* Start Button Styling */
.start_btn {
    font-size: 30px;
    font-weight: 600;
    border: 1px solid black;
    outline: none;
    padding: 20px 30px;
    border-radius: 5px;
    cursor: pointer;
    background: rgb(3, 46, 103);
    color: white
}

@media only screen and (min-width: 600px) {
    .start_btn:hover {

        background: #b1d1f0;
        color: rgb(3, 46, 103);
        transition: all 0.3s ease;
        box-shadow: 2px 2px black;
    }
}

/* Instructions area */
.instructions_area {

    padding: 20px;
    width: 60%;
    border-radius: 5px;
    opacity: 0;
    border: 1px solid black;
    border-radius: 5px;
    background: rgb(228, 232, 250);
    pointer-events: none;
    transform: translate(-50%, -50%);

}

.instructions_area .instructions_heading {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: auto;
    width: 100%;
    border-bottom: 1px solid green;
    padding: 20px 20px;
    font-size: 40px;
    font-weight: 600;
    color: rgb(3, 46, 103);
}

.instructions_area .instructions_list .inst {
    height: 60px;
    width: 100%;
    margin: 5px 0;
    font-size: 20px;
    color: rgb(3, 46, 103);

}

.instructions_area span {
    padding: 0 5px;
    font-weight: 600;
    color: green;
}

.buttons {

    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 35px;
    border-top: 1px solid lightgrey;

}

.buttons button {
    margin: 30px 30px;
    padding: 5px;
    height: 60px;
    width: 150px;
    border: 1px solid black;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    background: rgb(3, 46, 103);
}

.buttons .quit {
    margin-top: auto;
}

@media only screen and (min-width: 600px) {
    .buttons button:hover {
        background: #b1d1f0;
        transition: all .5s ease;
        box-shadow: 2px 2px black;
        color: rgb(3, 46, 103);

    }
}



/* Game Area */

.game_area {


    background: rgb(228, 232, 250);
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
    box-shadow: 2px 2px 2px black;
}

/* Game area header question number */

.game_area header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 99;
    height: 110px;
    padding: 0 30px;
    background: #d2dde7;
    margin-bottom: 30px;
    margin-top: 30px;
    border-bottom: 1px solid black;
    box-shadow: 0px 5px 2px grey;
    display: flex;
    align-items: center;
    justify-content: center;

}

.game_area header .title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 20px;
}



.game_area header .total_questions span {
    display: flex;
    user-select: none;
    font-size: 20px;
    font-weight: 600;

}

header .total_questions span p {
    font-weight: 500;
    padding: 0px 5px;

}

header .total_questions span p:first-child {
    padding-left: 0px;
}


/* timer line styling*/

.time_line {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.time_line .progress {
    position: relative;
    width: 100%;
    height: 40px;
    background-color: transparent;
    border-radius: 30px;
    overflow: hidden;
    margin-bottom: 10px;
    border: 3px solid black;
}

.time_line .progress .progress_bar {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 100%;
    background: linear-gradient(to left, #b1d1f0, rgb(3, 46, 103));
    transition: width 0.25s ease;

}


.time_line .progress .progress_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 20px;
    font-weight: 600;
}

/* Quiz section styling */

.game_area .play_area {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 25px 30px 20px 30px;
    background: rgb(228, 232, 250);
}

.game_area .play_area .question_text {
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;

}

.game_area .play_area .option_list {
    padding: 20px 0;
    display: block;
    width: 40%;
}

.game_area .option_list .option {
    background: #b1d1f0;
    border: 1px solid rgb(3, 46, 103);
    border-radius: 5px;
    padding: 8px 15px;
    margin-bottom: 30px;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.5s ease;
}

.game_area .option_list .option:last-child {
    margin-bottom: 0px;
}

/* option list in game area hover color */
@media only screen and (min-width: 600px) {
    .game_area .option_list .option:hover {
        background: rgb(3, 46, 103);
        color: #fff;
        transition: all 1s ease;
        transform: scale(0.95);
    }
}

/* selecting correct answer and incorrect answer */

.option_list .option.correct {
    color: #175e1a;
    background: #64ad75;
    border-color: #03290c;
}

.option_list .option.incorrect {
    color: #721c24;
    background: #ed3545;
    border-color: #f5c6cb;
}

.option_list .option.disabled {
    pointer-events: none;
}


/* Game area Footer question and questions total in header*/

.game_area footer {
    height: 60px;
    width: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* footer game area next button */

footer .next_btn {
    /* button hidden until answer selected*/
    display: none;
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 400;
    border: none;
    outline: none;
    background: rgb(3, 46, 103);
    color: #fff;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
    transition: all 0.5s ease;
}

@media only screen and (min-width: 600px) {
    footer .next_btn:hover {
        background: #b1d1f0;
        box-shadow: 3px 3px black;
        color: rgb(3, 46, 103);

    }
}


/* Results window styling */

.result_area {

    background: rgb(228, 232, 250);
    padding: 25px 30px;
    border-radius: 5px;
    display: flex;
    /*flex*/
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
    box-shadow: 2px 2px 2px black;

}

.result_area .complete_text {
    font-size: 40px;
    font-weight: 500;

}

.result_area .percentage {
    font-size: 25px;
    font-weight: 500;
    background: linear-gradient(to left, #b1d1f0, rgb(72, 126, 197));
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 2px 2px 2px black;
}

.result_area .grade {
    font-size: 30px;
    font-weight: 500;
    background: linear-gradient(to left, #b1d1f0, rgb(72, 126, 197));
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 1px solid black;
    box-shadow: 2px 2px 2px black;
}


.result_area .score_value span {
    display: flex;

    margin: 10px 10px;
    font-size: 20px;
    font-weight: 500;
}

.score_value span p {
    font-weight: 500;
    padding: 0 4px;
}

.percentage .grade span p {
    font-weight: 500;
    padding: 0 4px;
}



/*Footer styling*/

.footer_basic {
    position: absolute;
    bottom: 0%;
    width: 100%;
    padding: 5px 0;
    background-color: #b1d1f0;
    color: rgb(3, 46, 103);
}

.footer_basic #footer-li {
    padding: 0 10px;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}


.footer_basic #footer-li a {
    color: rgb(3, 46, 103);
    text-decoration: none;
    opacity: 1;
    padding: 5px;
}

@media only screen and (min-width: 600px) {
    .footer_basic #footer-li a:hover {
        opacity: 1;

    }
}

.footer_basic .social {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0px;
}

#footer-li {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Lato, sans-serif;
}

.footer_basic .social>a {
    font-size: 24px;
    width: 40px;
    height: 38px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid rgb(3, 46, 103);
    margin: 0 20px;
    color: rgb(3, 46, 103);
    opacity: 0.75;
}

@media only screen and (min-width: 600px) {
    .footer_basic .social>a:hover {
        opacity: 0.9;
        transform: scale(0.9);
        color: #0f6bc7;
    }
}

.footer_basic .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: rgb(3, 46, 103);
    margin-bottom: 0;
}

.copyright {
    font-family: Lato, sans-serif;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    /* Hide Header and Footer */
    .header_main.activeHeader {
        display: none;
    }

    .footer_basic.activeFooter {
        display: none;
    }

    /* Instructions area */
    .instructions_area {
        width: 90%;
        padding: 5px;
    }

    .begin_btn {
        width: 100px;
    }

    .instructions_area .instructions_heading {
        font-size: 20px;
        padding: 5px;
    }

    .instructions_area .instructions_list .inst {
        margin-bottom: 30px;
        margin-top: 20px;
    }

    footer {
        bottom: 0;
        color: #707070;
        height: 2em;
        left: 0;
        position: relative;
        font-size: small;
        width: 100%;
    }

    .buttons {
        height: 60px;
    }

    .buttons button {
        height: 50px;
        font-size: 15px;
        margin: 5px 30px;
    }

    h1 {
        margin-top: 0px;
        font-size: 20px;
        padding: 5px;
    }

    .heading {
        padding: 5px;
    }

    .game_area {
        width: 95%;
    }

    .game_area .play_area {
        padding: 0px;
    }

    .game_area .play_area .question_text {
        font-size: 15px;
        font-weight: 500;

    }

    .game_area .play_area .option_list {
        padding: 0px 0px 15px 0px;
    }

    .game_area .option_list .option {
        padding: 5px 15px;
        margin-bottom: 20px;
        max-height: 100vh;
    }

    .result_area {
        width: auto;
    }

    .quit {
        margin-top: 20px;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1300px) {
    .instructions_area {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;

    }

}