* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background: #077bff;
}

h1 {
    color: white;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #077bff;
    padding: 30px;
}

/* Positioning of all major elements(start button, rules area, quiz area and results area */
.start_btn,
.instructions_area,
.quiz_area {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Start Button Styling */
.start_btn {
    display: none;
    font-size: 30px;
    font-weight: 600;
    border: 1px solid white;
    padding: 20px 30px;
    border-radius: 5px;
    cursor: pointer;
    background: black;
    color: white
}

/* Instructions area */
.instructions_area {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 60%;
    border: 1px solid black;
    border-radius: 5px;
    background: #fff;
    height: 60%;
}

.instructions_area .instructions_heading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 100%;
    border-bottom: 1px solid green;
    padding: 20px 20px;
    font-size: 40px;
    font-weight: 600;
}

.instructions_area .instructions_list .inst {
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    margin: 5px 0;
    font-size: 20px;

}

.instructions_area span {
    padding: 0 5px;
    font-weight: 600;
    color: green;
}

.buttons {

    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 35px;
    border-top: 1px solid lightgrey;



}

.buttons button {
    margin: 30px 30px;
    padding: 5px;
    height: 60px;
    width: 150px;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    background: green;
}






.quiz_area {
    display: none;
}















/*Footer styling*/

.footer-basic {
    position: absolute;
    bottom: 0%;
    width: 100%;
    padding: 5px 0;
    background-color: #077bff;
    color: white;
}

.footer-basic #footer-li {
    padding: 0 10px;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}


.footer-basic #footer-li a {
    color: white;
    text-decoration: none;
    opacity: 1;
    padding: 5px;
}

.footer-basic #footer-li a:hover {
    opacity: 1;
}

.footer-basic .social {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 5px;
}

#footer-li {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Montserrat, sans-serif;
}

.footer-basic .social>a {
    font-size: 24px;
    width: 40px;
    height: 38px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid white;
    margin: 0 8px;
    color: white;
    opacity: 0.75;
}

.footer-basic .social>a:hover {
    opacity: 0.9;
}

.footer-basic .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
    margin-bottom: 0;
}

.copyright {
    font-family: Montserrat, sans-serif;
}